@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;1,500&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    margin-left: 8px;
    color:#fff;
}

h2 {
    text-decoration: underline;
}

a {
    color: #333;
    cursor: pointer;
}

a:hover {
    color: #fff;
}

p {
    animation: fade-in 1200ms 1000ms backwards;
}


/*  HEADER  */

header {
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.header__img {
    height: 150px;
    width: 100%;
    position: absolute;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    position: relative;
    color: #fff;
    width: 1190px;
    display: flex;
    justify-content: center;
}


/* MAIN */

.weather__cards {
    height: calc(100vh - 190px);
    background-image: url("../images/weather.jpg");
    background-size: cover;
    display: grid;
}

.cities__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
}

.city__two {
    grid-area: 1 / 3 / span 1 / span 1;
}

.city__three {
    grid-area: 2 / 1 / span 1 / span 1;
}

.city__four {
    grid-area: 2 / 2 / span 1 / span 1;
}

.city__five {
    grid-area: 2 / 3 / span 1 / span 1;
}

.city__one,
.city__two {
    animation: fade-up 650ms 800ms backwards;
}

.city__three,
.city__four,
.city__five {
    animation: fade-up 650ms 900ms backwards;
}

.city__one,
.city__two,
.city__three,
.city__four,
.city__five {
    background:#bfbfbf;
    width: 300px;
    height: 200px;
    border-radius: 15%;
}

.city__one h2,
.city__two h2,
.city__three h2,
.city__four h2,
.city__five h2 {
    color: #fff;
    text-align: center;
    padding: 12px 0 16px 0;
}

.city__one--temp,
.city__two--temp,.city__three--temp,
.city__four--temp,
.city__five--temp {
    font-size: 24px;
    padding-left:24px;
    color: #fff;
}

.city__one--humidity,
.city__one--wind,
.city__two--humidity,
.city__two--wind,
.city__three--humidity,
.city__three--wind,
.city__four--humidity,
.city__four--wind,
.city__five--humidity,
.city__five--wind {
    padding-left: 16px;
    color:#fff;
    font-size: 18px;
}

/* FOOTER */

footer {
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    background-color: #bfbfbf;
}

/* KEYFRAMES */

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {
    header {
        width:100%;
    }

    h1 {
        font-size: 48px;
    }

    .cities__wrapper {
        width: 100%;
    }

    .city__one,.city__two,.city__three,.city__four,.city__five {
        width: 225px;
    }

    .city__one--humidity, .city__one--wind, .city__two--humidity, .city__two--wind, .city__three--humidity, .city__three--wind, .city__four--humidity, .city__four--wind, .city__five--humidity, .city__five--wind {
        padding-left: 8px;
    }

    .flex {
        margin-left: 4px;
    }
}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
    header {
        width:100%;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 16px;
    }

    .cities__wrapper {
        width: 100%;
    }

    .city__one,.city__two,.city__three,.city__four,.city__five {
        width: 150px;
        height: 150px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    
    }

    .city__one--temp, .city__two--temp, .city__three--temp, .city__four--temp, .city__five--temp {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        font-size: 18px;
    }

    .city__one--humidity, .city__one--wind, .city__two--humidity, .city__two--wind, .city__three--humidity, .city__three--wind, .city__four--humidity, .city__four--wind, .city__five--humidity, .city__five--wind {
        opacity: 0;
    }
}



