* {
    padding:0;
    margin:0;
}

/*header css */

#header {
    background-image: url('../images/uaflag.jpg');
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    position: relative;
}

#header h1 {
    position: absolute;
    margin-left: 360px;
    margin-top: 54px;
    font-size: 3em;
    text-align: center;
}

/* 5 cities css */

.cities {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    background-color:#fff;
    height: 600px;
    background-image:url("../images/weather.jpg");
    background-size: cover;
}

.cities h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

.cities .city-one {
    margin-left: 250px;
}

.cities .city-two {
    grid-column: 3;
    margin-right: 250px;
}

.cities .city-four {
    margin: 0 24px;
}



/* footer css */

#footer {
    background-color: #333;
    position: relative;
    font-size:1.2em;
    margin-bottom: auto;
    height:40px;
}


#footer p {
    position:absolute;
    margin-top: 10px;;
    margin-left: 500px;
    color:#fff;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    color:lightblue;
}

@media (max-width:600px) {

}

.weather {
    border: 1px #fff solid;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
